
.grid-block {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    height: 170px;
    flex-wrap: wrap;
}

.active-cell {
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    background: #EDEDED;
    margin: 1px;
    position: relative;
}

.active-cell:hover {
    border: 1px solid #000;
    box-sizing: border-box;
}

.inactive-cell {
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    background: #FFF;
    margin: 1px;
}

.popup {
    position: absolute;
    text-align: center;
    top:-50px;
    width: 150px;
    left: -75px;
    background: #000;
    color: #FFFFFF;
    z-index: 99;
    border-radius: 3px;
}

.popup::after {
    content: '';
    position: absolute;
    left: 68px;
    display: block;
    border: 10px solid transparent; border-top: 10px solid #000;
}

.popup p{
    margin: 0;
}

.closed {
    display: none;
}

.opened {
    display: block;
}

